<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-control" content="public" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
		/>
		<meta name="description" content="Read all your news, social media & blogs in a single feed." />
		<meta name="keywords" content="news reader, rss reader, atom reader" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<!-- Icons & Theme-->
		<meta name="theme-color" content="#fff" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="mask-icon" href="/mask-icon.svg" color="#fff" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.json" />

		<!-- Meta data for link fetching -->
		<meta property="og:url" content="https://onlie.io" />
		<meta property="og:image" content="https://onlie.io/banner.png" />
		<meta property="og:title" content="Onlie" />
		<meta property="og:description" content="RSS reader for the web." />
		<title>Onlie - Read all your news, social media & blogs in a single feed.</title>
		<!-- Site scripts & styles -->
		<link href="/style.css" rel="stylesheet" />

		<script defer src="/vue.global.prod.js"></script>
		<script defer src="/axios.min.js"></script>
		<script defer src="/api/csrf.js"></script>
		<script defer src="/script.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="app-containter" class="wrap" v-bind:style="'visibility:visible;'">
				<section id="toast" v-bind:class="toast.type + (toast.message ? ' show' : '')" v-on:click="toast.message = ''">
					{{toast.message}}
				</section>

				<section class="page" v-if="page === 'intro'">
					<nav>&nbsp;</nav>
					<h1 class="page-title">Onlie</h1>
					<h2>Read all your news, social media & blogs in a single feed.</h2>

					<input type="text" id="email" placeholder="Enter email" v-model="auth.email" />
					<button class="bold" v-on:click="sendOTP">Get started</button>
				</section>

				<main v-if="page !== 'intro'">
					<header class="row">
						<div class="flex space-between">
							<h1 class="page-title flex-1">{{pageTitle}}</h1>
							<a href="javascript:void()" id="logo" v-on:click="logoClickHandler">
								<img src="favicon.svg" alt="logo" />
							</a>
						</div>
						<div v-if="pageDesc" class="light">{{pageDesc}}</div>
					</header>

					<section v-if="page == 'otp'">
						<input type="number" id="otp" placeholder="Enter OTP" v-model="auth.otp" />
						<button class="bold" v-on:click="signIn">Log in</button>
					</section>
					<section v-if="page == 'feed'">
						<div v-for="(item, i) in items" v-bind:key="item._id" class="item">
							<div class="row">
								<a v-bind:href="item.link" target="_blank" rel="noopener noreferrer" class="title">{{item.title}}</a>
								<div class="meta light">
									<img
										v-if="item.channel.imageURL"
										v-bind:src="item.channel.imageURL"
										v-bind:alt="item.channel.title"
									/>
									<a v-bind:href="item.channel.link">{{item.channel.title}}</a>
									<span> &middot; </span>
									<span>{{displayDate(item.publishedOn)}}</span>
									<span v-if="item.comments"> &middot; </span>
									<a v-bind:href="item.comments" target="_blank" rel="noopener noreferrer" v-if="item.comments"
										>Comments</a
									>
								</div>
							</div>
						</div>
						<p v-if="items.length === 0 && !loading" class="light">No items to show</p>
						<div v-if="loading" class="loader"></div>

						<button class="link bold" v-on:click="getItems" v-if="showLoadMore">Load more &darr;</button>
					</section>

					<section id="settings" v-if="page === 'settings'">
						<details open>
							<summary>Subscribed feeds</summary>
							<div>
								<form action="." v-on:submit="subscribeChannel" id="newFeedForm">
									<div class="flex">
										<input
											type="url"
											v-model="newChannel"
											placeholder="Enter feed URL"
											id="newFeedURL"
											class="flex-1"
										/>
										<button>Add</button>
									</div>
								</form>
								<div v-for="(channel, i) in channels" v-bind:key="channel.channel._id" class="item">
									<div class="link">
										<div class="row">
											<a v-bind:href="channel.channel.link" class="title" target="_blank" rel="noopener noreferrer"
												>{{channel.channel.title}}</a
											>
											<div class="meta light">
												<img
													v-if="channel.channel.imageURL"
													v-bind:src="channel.channel.imageURL"
													v-bind:alt="channel.channel.title"
												/>
												<a v-bind:href="channel.channel.feedURL" target="_blank" rel="noopener noreferrer">
													{{displayURL(channel.channel.feedURL)}}
												</a>
												<span> &middot; </span>
												<a href="javascript:void(0)" v-on:click="unsubscribeChannel(channel.channel._id)" class="light"
													>Remove</a
												>
											</div>
										</div>
									</div>
								</div>
								<p v-if="channels.length === 0 && !loading" class="light">You are not subscribed to any channels</p>
							</div>
						</details>

						<br />
						<div class="card" v-if="me.membershipType === 'FREE'">
							<div>Free users are limited to only 10 channels.</div>
							<a href="/sponsors">Become a sponsor</a> for just $1/month, to unlock unlimited channels.
						</div>
						<br />
						<div>
							You are logged in with <strong>{{me.email}}</strong>.
							<a href="javascript:void(0)" v-on:click="logOut()">Logout</a>
						</div>
					</section>

					<!-- <section v-if="page === 'signup'">
						<form action="." v-on:submit="signUp">
							<label for="username">Username</label>
							<input type="text" id="username" placeholder="Username" v-model="newAccount.username" />
							<label for="email">E-mail address</label>
							<input type="email" id="email" placeholder="Email address" v-model="newAccount.email" />
							<label for="password">Password</label>
							<input type="password" id="password" placeholder="Password" v-model="newAccount.password" />
							<button class="bold" v-on:click="signUp">Sign up</button>
						</form>
						<div class="small light">Already got an account? <a href="/login">Log in</a></div>
					</section>

					<section v-if="page === 'login'">
						<form action="." v-on:submit="signIn">
							<label for="username">Username</label>
							<input type="text" id="username" placeholder="Enter your username" v-model="authCreds.username" />
							<label for="password">Password</label>
							<input type="password" id="password" placeholder="Password" v-model="authCreds.password" />
							<button class="bold" v-on:click="signIn">Log in</button>
						</form>
						<div class="small"><a href="javascript:void(0)" v-on:click="forgotPassword">Forgot password?</a></div>
						<div class="small light">Don't have an account yet? <a href="/signup">Sign up</a></div>
					</section> -->

					<!-- <section v-if="page === 'account'">
						<form action="." v-on:submit="updateAccount">
							<label for="username">Your username</label>
							<input type="text" id="username" placeholder="Username" v-model="myAccount.username" />
							<label for="email">Your e-mail address</label>
							<input type="email" id="email" placeholder="Email address" v-model="myAccount.email" />
							<label for="password">Password</label>
							<input type="password" id="password" placeholder="Enter new password" v-model="myAccount.password" />

							<label for="bio">Bio</label>
							<textarea id="bio" placeholder="Enter bio" v-model="myAccount.bio"></textarea>

							<label>Member type</label>
							<div>{{myAccount.membershipType}}</div>
							<div v-if="myAccount.membershipType === 'FREE'">
								<div>Free users are limited to only 10 channels.</div>
								<a href="https://buymeacoffee.com/vasanthv/membership">Become a sponsor</a> for just $1/month, to unlock
								unlimited channels.
							</div>
							<br />

							<button class="bold" v-on:click="updateAccount">Update account</button>
							<br /><br />
							<button class="red" v-on:click="logOut()">Log out</button>
						</form>
					</section> -->

					<!-- <section v-if="showItemFeed">
						<div v-for="(item, i) in items" v-bind:key="item._id" class="item">
							<div class="row">
								<a v-bind:href="item.link" target="_blank" rel="noopener noreferrer" class="title">{{item.title}}</a>
								<div class="meta light">
									<img
										v-if="item.channel.imageURL"
										v-bind:src="item.channel.imageURL"
										v-bind:alt="item.channel.title"
									/>
									<a v-bind:href="item.channel.link">{{item.channel.title}}</a>
									<span> &middot; </span>
									<span>{{displayDate(item.publishedOn)}}</span>
									<span v-if="item.comments"> &middot; </span>
									<a v-bind:href="item.comments" target="_blank" rel="noopener noreferrer" v-if="item.comments"
										>Comments</a
									>
								</div>
							</div>
						</div>
						<p v-if="items.length === 0 && !loading" class="light">No items to show</p>
						<div v-if="loading" class="loader"></div>

						<button class="link bold" v-on:click="getItems" v-if="showLoadMore">Load more &darr;</button>
					</section> -->

					<!-- <section v-if="page === 'channels'">
						<div>
							<form action="." v-on:submit="subscribeChannel">
								<div class="flex">
									<input type="url" v-model="newChannel" placeholder="Enter feed URL" id="newFeedURL" class="flex-1" />
									<button>+</button>
								</div>
							</form>
						</div>
						<div v-for="(channel, i) in channels" v-bind:key="channel._id" class="item">
							<div class="link">
								<div class="row">
									<a v-bind:href="channel.link" class="title" target="_blank" rel="noopener noreferrer"
										>{{channel.title}}</a
									>
									<div class="meta light">
										<img v-if="channel.imageURL" v-bind:src="channel.imageURL" v-bind:alt="channel.title" />
										<a v-bind:href="channel.feedURL" target="_blank" rel="noopener noreferrer">
											{{displayURL(channel.feedURL)}}
										</a>
										<span> &middot; </span>
										<a href="javascript:void(0)" v-on:click="unsubscribeChannel(channel._id)" class="light">Remove</a>
									</div>
								</div>
							</div>
						</div>
						<p v-if="channels.length === 0 && !loading" class="light">You are not subscribed to any channels</p>
						<div v-if="loading" class="loader"></div>
						<div class="card" v-if="myAccount.membershipType === 'FREE'">
							<div>Free users are limited to only 10 channels.</div>
							<a href="https://buymeacoffee.com/vasanthv/membership">Become a sponsor</a> for just $1/month, to unlock
							unlimited channels.
						</div>
					</section> -->
				</main>
			</div>
		</div>

		<footer class="small light wrap">
			<nav>
				<a href="/sponsors">Become a sponsor</a>
				<span class="separator">&middot;</span>
				<a href="/terms">Terms</a>
				<span class="separator">&middot;</span>
				<a href="/privacy">Privacy</a>
			</nav>
		</footer>

		<!-- INSERT_ANALYTICS_SCRIPT -->
	</body>
</html>
