<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-control" content="public" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
		/>
		<meta name="description" content="Read all your news, social media & blogs in a single feed." />
		<meta name="keywords" content="news reader, rss reader, atom reader" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<!-- Icons & Theme-->
		<meta name="theme-color" content="#fff" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="mask-icon" href="/mask-icon.svg" color="#fff" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.json" />

		<!-- Meta data for link fetching -->
		<meta property="og:url" content="https://onlie.io" />
		<meta property="og:image" content="https://onlie.io/banner.png" />
		<meta property="og:title" content="Onlie" />
		<meta property="og:description" content="RSS reader for the web." />
		<title>Onlie - Read all your news, social media & blogs in a single feed.</title>
		<!-- Site scripts & styles -->
		<link href="/style.css" rel="stylesheet" />

		<script defer src="/vue.global.prod.js"></script>
		<script defer src="/axios.min.js"></script>
		<script defer src="/api/csrf.js"></script>
		<script defer src="/script.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="app-containter" class="wrap" v-bind:style="'visibility:visible;'">
				<section id="toast" v-bind:class="toast.type + (toast.message ? ' show' : '')" v-on:click="toast.message = ''">
					{{toast.message}}
				</section>

				<section id="intro" class="page" v-if="page === 'intro'">
					<div class="wrap mini">
						<div>
							<div id="logo">
								<img src="favicon.svg" alt="logo" />
							</div>
							<h1>Read all your news, social media & blogs in a single feed.</h1>
							<p>
								Onlie is a minimal rss/atom feed reader, that shows a single chronological feed from multiple feeds.
							</p>

							<div class="flex">
								<input
									type="email"
									placeholder="Enter email"
									v-model="auth.email"
									v-on:keyup.enter="sendOTP"
									class="flex-1"
								/>
								<button class="bold" v-on:click="sendOTP">Get started</button>
							</div>
						</div>
					</div>
				</section>

				<main v-if="page !== 'intro'">
					<header class="row">
						<div class="flex space-between">
							<h1 class="page-title flex-1">{{pageTitle}}</h1>
							<a
								href="javascript:void()"
								id="logo"
								v-on:click="logoClickHandler"
								v-bind:class="page === 'channels' ? 'active' : ''"
							>
								<img src="favicon.svg" alt="logo" />
							</a>
						</div>
					</header>

					<section v-if="page == 'otp'">
						<p>We have sent an one-time password to your email "{{auth.email}}", use that to sign in.</p>
						<div>
							<input type="number" id="otp" placeholder="Enter OTP" v-model="auth.otp" />
							<button class="bold" v-on:click="signIn">Log in</button>
						</div>
					</section>

					<section v-if="page == 'feed'">
						<div v-for="(item, i) in items" v-bind:key="item._id" class="item">
							<div class="row">
								<a v-bind:href="item.link" target="_blank" rel="noopener noreferrer" class="title">{{item.title}}</a>
								<div class="meta light">
									<img
										v-if="item.channel.imageURL"
										v-bind:src="item.channel.imageURL"
										v-bind:alt="item.channel.title"
									/>
									<a v-bind:href="item.channel.link">{{item.channel.title}}</a>
									<span> &middot; </span>
									<span>{{displayDate(item.publishedOn)}}</span>
									<span v-if="item.comments"> &middot; </span>
									<a v-bind:href="item.comments" target="_blank" rel="noopener noreferrer" v-if="item.comments"
										>Comments</a
									>
								</div>
							</div>
						</div>
						<div v-if="items.length === 0 && !loading" class="empty">
							<h3>No items to show</h3>
							<p>Start adding channels by clicking the logo or the below button.</p>
							<button v-on:click="page = 'channels'">+ Add a channel</button>
						</div>
						<div v-if="loading" class="loader"></div>

						<button class="link bold" v-on:click="getItems" v-if="showLoadMore">Load more &darr;</button>
					</section>

					<section id="channels" v-if="page === 'channels'">
						<div>
							<div class="flex">
								<input
									type="url"
									class="flex-1"
									id="newFeedURL"
									v-model="newChannel"
									placeholder="Enter feed URL"
									v-on:keyup.enter="subscribeChannel"
									v-bind:disabled="loading"
								/>
								<button v-on:click="subscribeChannel" v-bind:disabled="loading">Add</button>
							</div>

							<div v-for="(channel, i) in channels" v-bind:key="channel.channel._id" class="item">
								<div class="row">
									<div class="link flex">
										<div class="flex-1">
											<a v-bind:href="channel.channel.link" class="title" target="_blank" rel="noopener noreferrer"
												>{{channel.channel.title}}</a
											>
											<div class="meta light">
												<img
													v-if="channel.channel.imageURL"
													v-bind:src="channel.channel.imageURL"
													v-bind:alt="channel.channel.title"
												/>
												<a v-bind:href="channel.channel.feedURL" target="_blank" rel="noopener noreferrer">
													{{displayURL(channel.channel.feedURL)}}
												</a>
											</div>
										</div>
										<button v-on:click="unsubscribeChannel(channel.channel._id)" class="action"></button>
									</div>
								</div>
							</div>
							<p v-if="channels.length === 0 && !loading" class="empty">You are not subscribed to any channels</p>
						</div>

						<hr />

						<div class="card" v-if="me.membershipType === 'FREE'">
							<div>Free users are limited to only 10 channels.</div>
							<a href="/sponsors">Become a sponsor</a> for just $1/month, to unlock unlimited channels.
						</div>
						<br />
						<div>
							You are logged in with <strong>{{me.email}}</strong>.
							<a href="javascript:void(0)" v-on:click="logOut()">Logout</a>
						</div>
					</section>
				</main>
			</div>
		</div>

		<footer class="small light wrap">
			<nav>
				<a href="https://github.com/vasanthv/onlie" target="_blank">Github</a>
				<span class="separator">&middot;</span>
				<a href="/sponsor">Sponsor</a>
				<span class="separator">&middot;</span>
				<a href="/terms">Terms</a>
				<span class="separator">&middot;</span>
				<a href="/privacy">Privacy</a>
			</nav>
		</footer>

		<!-- INSERT_ANALYTICS_SCRIPT -->
	</body>
</html>
