@import "/icomoon/style.css";
:root {
	--background: #ffffff;
	--background-light: #efefef;
	--background-yellow: #fffbda;
	--text: #161616;
	--text-light: #888;
	--red: #c0392b;
	--green: #27ae60;
	--blue: #0077ff;
}

html {
	-webkit-overflow-scrolling: touch;
}
body {
	background: var(--background);
	color: var(--text);
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		"Helvetica Neue", sans-serif;
	line-height: 1.5;
	transition: background 0.5s;
}
a,
a:focus,
a:active {
	color: #2a66c6;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
footer {
	text-align: center;
	padding: 2rem 1rem !important;
}
footer a {
	color: inherit;
}
label {
	font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="url"],
textarea {
	display: block;
	border: 0.1rem solid var(--text-light);
	background: var(--background);
	color: var(--text);
	font-family: inherit;
	font-size: 1rem;
	width: 100%;
	max-width: 420px;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	box-sizing: border-box;
	margin-bottom: 1rem;
}
input:disabled {
	background: var(--background-light);
	cursor: not-allowed;
}
input.hasHelperText {
	margin-bottom: 0rem;
}
input[type="search"] {
	background: var(--background-light);
	color: var(--text);
	border: none;
	display: inline-block;
	border-radius: 0.5rem;
	box-sizing: border-box;
	min-width: 16rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
	font-size: 1rem;
}
input[type="file"] {
	margin-bottom: 1rem;
}
::placeholder {
	opacity: 0.7;
}
button {
	display: inline-block;
	background: var(--text);
	color: var(--background);
	border: 0.1rem solid var(--text);
	border-radius: 0.2rem;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-decoration: none;
	margin-bottom: 1rem;
}
button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
button.red {
	background: var(--red);
}
button.link {
	background: none;
	color: var(--text);
}
button.link.red {
	background: none;
	color: var(--red);
}
summary {
	font-weight: bold;
}
code {
	display: block;
	border: 1px solid var(--text-light);
	padding: 0.25rem;
	border-radius: 0.25rem;
	cursor: text;
	margin-bottom: 0.25rem;
	word-wrap: break-word;
}
nav {
	margin-top: 1rem;
}
nav .separator {
	margin: 0px 0.5rem;
}
section h1 {
	font-size: 2rem;
}

.wrap {
	width: 100%;
	max-width: 640px;
	margin-inline: auto;
	padding: 0px 1rem;
	box-sizing: border-box;
}
.wrap.mini {
	max-width: 480px;
}
.light {
	color: var(--text-light);
}
.small {
	font-size: 0.9rem;
}
.semibold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.center {
	text-align: center;
}
.flex {
	display: flex;
	align-items: center;
}
.space-between {
	justify-content: space-between;
}
.flex-1 {
	flex: 1;
}
.row {
	padding: 1rem 0px;
}
.card {
	background: var(--background-yellow);
	border-radius: 0.5rem;
	padding: 0.5rem;
}
.spacer {
	height: 1rem;
}
.helperText {
	margin-bottom: 1rem;
}
.page-title {
	font-size: 3rem;
	margin: auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.empty {
	text-align: center;
	margin: 10vh auto;
	width: 100%;
	max-width: 20rem;
}
.item .title {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	position: relative;
	font-size: 1.2rem;
	color: inherit;
}
.item .meta img {
	width: 1rem;
	margin-right: 0.25rem;
	position: relative;
	top: 0.1rem;
}
.item .meta a {
	color: inherit;
}
.item .action {
	margin: 0px;
	background: none;
	border: none;
	border-radius: 50%;
	color: var(--text);
	font-size: 1.5rem;
	line-height: 0px;
	width: 3rem;
	height: 3rem;
	padding: 0px;
}
.item .action.icon-bell {
	color: var(--text-light);
	opacity: 0.8;
}
.item .action:hover {
	background: var(--background-light);
}

#app-containter {
	visibility: hidden;
}
#toast {
	background-color: var(--text);
	color: var(--background);
	text-align: center;
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	left: 0px;
	right: 0px;
	top: 0rem;
	max-height: 0;
	margin: auto;
	overflow: hidden;
	font-size: 1em;
	transition: max-height 0.25s ease-in;
}
#toast.show {
	max-height: 5rem;
}
#toast.error {
	background: var(--red);
}
#toast.success {
	background: var(--green);
}
#intro .wrap {
	margin-top: 10vh;
}
#intro input {
	margin-right: 0.5rem;
}
#logo {
	display: block;
	width: 3rem;
	height: 3rem;
	padding: 0.25rem;
	background: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	box-sizing: border-box;
	transition: transform 0.5s;
}
div#logo:hover,
#logo.active {
	transform: scale(1.25) rotate(90deg);
}
#logo svg {
	width: 100%;
	height: 100%;
}
#newFeedForm {
	position: relative;
	top: 0.5rem;
}
#newFeedURL {
	margin-right: 0.25rem;
	max-width: none;
}
#feed .item .title:visited {
	color: var(--text-light);
}
.loader {
	width: 2rem;
	height: 2rem;
	background: var(--text);
	margin: 3rem auto;
	position: relative;
}
.loader:before {
	content: "";
	display: block;
	background: var(--background);
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
	top: 0.3rem;
	left: 0.3rem;
	animation: loading 2s linear infinite;
}
@keyframes loading {
	0% {
		height: 0rem;
		top: 0.3rem;
		bottom: auto;
	}
	25% {
		height: 1.4rem;
		top: 0.3rem;
		bottom: auto;
	}
	26% {
		height: 1.4rem;
		top: auto;
		bottom: 0.3rem;
	}
	50% {
		height: 0rem;
		top: auto;
		bottom: 0.3rem;
	}
	75% {
		height: 1.4rem;
		top: auto;
		bottom: 0.3rem;
	}
	76% {
		height: 1.4rem;
		top: 0.3rem;
		bottom: auto;
	}
	100% {
		height: 0rem;
		top: 0.3rem;
		bottom: auto;
	}
}
@media only screen and (max-width: 600px) {
}
